<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="myform"></form>
    <h1>study write</h1>
        이름 : <input type="text" name="name" id=""> <br>
        국어 : <input type="text" name="kor" id=""> <br>
        영어 : <input type="text" name="eng" id=""> <br>
        수학 : <input type="text" name="mat" id=""> <br>

        <button type="text" id="btnSave">등록</button>
    </form> 

    <script>
        let btnSave = document.getElementById('btnSave');
        btnSave.addEventListener('click', ()=>{
            let frm = document.myform;
            frm.action = '/study/save';
            frm.method = 'post';
            frm.submit();
        })
    </script>
</body>
</html>