{% load mathfilters %}
<div class="container mt-5">
    <!-- mt : margin-top -->
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="javascript:goPage(0)">first</a></li>
        {% if commonPage.isPrev %}
            <li class="page-item"><a class="page-link" href="javascript:goPage({{commonPage.prev_page}})">Previous</a></li>
        {% endif %}

        {% for pg in commonPage.page_range %}
            {% if pg == commonPage.curPage %}
                <li class="page-item active"><a class="page-link" href="javascript:goPage({{pg}})">{{pg|add:1}}</a></li>
                <!-- 페이지들(1 2 3 4 ... 10)에서 해당 페이지를 활성화시킴 -->
            {% else %}
                <li class="page-item"><a class="page-link" href="javascript:goPage({{pg}})">{{pg|add:1}}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if commonPage.isNext %}
            <li class="page-item"><a class="page-link" href="javascript:goPage({{commonPage.next_page}})">Next</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="javascript:goPage({{commonPage.totalPage}})">last</a></li>
    </ul>
</div>