<!-- templates/app2/song_create.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>노래 별점 매기기</h1>
  <form method="post" action="{{success_url}}"> 
      {% csrf_token %} 
      <!-- 노래 제목 : <input type="text" name="title"> <br>
      가수 : <input type="text" name="singer"> <br>
      별점 : <input type="text" name="score"> <br> -->
      {{ form.as_p }}
      <button type="submit">등록</button>
  </form>
</body>
</html>